/*
 * SET UP CONFIGURATION VARIABLES
 */

  params {
        // Configurable variables
          name            = false
          project         = false
          plaintext_email = false
          version="1.0.0-alpha"

        // Directories paths
          projectDir        = "/home/phesketh/Documents/GitHub/QuasiFlow"
          outdir            = "out/"
          workDir           = "work/"
          scriptDir         = "${projectDir}/bin"

        // Conda environements
          conda_main_envs   = "${projectDir}/envs/main_env.yml"
          conda_R_env       = "${projectDir}/envs/R_env.yml"

        //params for HyDRA
          mutation_db         = ""
          reporting_threshold = 1
          consensus_pct       = 20
          min_read_qual       = 30
          length_cutoff       = 50
          score_cutoff        = 30
          min_variant_qual    = 30
          min_dp              = 100
          min_ac              = 5
          min_freq            = 0.2

}

/*
    PROFILES
 */

  profiles {
          conda_on {
              conda{
                enabled = true
                cacheDir="${params.outdir}/envs/conda"
              }
          }

          singularity_on {
                singularity.enabled=True
                singularity.includeConfig 'conf/containers.config'
                singularity.cacheDir="${params.outdir}/envs/singularity"
          }

          docker_on {
                //  container=''
                docker.enabled=True
                docker.includeConfig 'conf/containers.config'
                docker.cacheDir="${params.outdir}/envs/docker"
          }
      }

// Set processing limits on resourcs


// Produce nextflow reports
timeline {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/timeline.html"  // Changed from outdir to outDir
    overwrite = true
}

report {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/report.html"  // Changed from outdir to outDir
    overwrite = true
}

trace {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/trace.txt"  // Changed from outdir to outDir
    overwrite = true
}

dag {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/dag.html"  // Changed from outdir to outDir
    overwrite = true
}